<div class="container-fluid">
  	<div class="row">
	    <div class="col-md-2">
			<p>
				Search:
				<input ng-model="vm.query" />
			</p>

			<p>
		        Sort by:
		        <select ng-model="vm.orderProp">
		          <option value="name">Alphabetical</option>
		          <option value="age">Newest</option>
		        </select>
		    </p>
			<div class="col-md-10">
				<ul class="contacts">
				   	<li ng-repeat="contact in vm.contacts | filter:vm.query | orderBy:vm.orderProp">
						<a href="#!/contacts/{{contact.id}}">{{contact.name}}</a>
				   	</li>
				 </ul>
			</div>
		</div>
	</div>
</div>