<form name="contactForm" ng-submit="vmContactEdit.Submit()">
	<p>First Name:<input name="firstName" ng-model="vmContactEdit.contact.Name" ng-maxlength="15" required</p>
	<p>DOB:<input type="date" ng-model="vmContactEdit.contact.DOB" required></p>
	<p>Phone number: <input name="phoneNumber" ng-model="vmContactEdit.contact.PhoneNumber" required></p>	
	<p>
	 	Gender:
	 	<input type="radio" name="gender" value="male" checked> Male
		<input type="radio" name="gender" value="female"> Female
	</p>
	<p>
		Relationship:
		<select ng-model="vmContactEdit.contact.Relationship" >
			<option value="Home">Home</option>
			<option value="Work">Work</option>
			<option value="Other">Other</option>
		</select>
	</p>
	<p>Description:
	<textarea ng-model="vmContactEdit.contact.Description"></textarea>
	</p>

	<input type="submit" value="Submit">
</form>
<a href="/NET.Angular.Task-master/app/contacts/">Cancel</a>


