<div class="container-fluid">
  	<div class="row">
	    <div class="col-md-12">
			
			<search-bar></search-bar>
			<p>
		        Sort by:
		        <select ng-model="vm.orderProp">
		          <option value="name">Alphabetical</option>
		          <option value="age">Newest</option>
		        </select>
		    </p>
			
			<div style="overflow-x:auto;">
				<table>
					<tr>
						<th></th>
						<th>Name</th>
						<th>DOB</th>
						<th>Phone Number</th>
						<th>Favorite</th>
						<th></th>
					</tr>
					<tr ng-repeat="contact in vm.contacts | filter:vm.query | orderBy:vm.orderProp">
						<td>
						<input type="checkbox"style="border:2px dotted #00f;display:block;background:#ff0000;" />
						</td>
						<td>{{contact.name}}</td>
						<td>{{contact.DOB}}</td>
						<td>{{contact.PhoneNumber}}</td>
						<td>
						<input type="checkbox"style="border:2px dotted #00f;display:block;background:#ff0000;" />
						</td>
						<td><a href="#!/contacts/{{contact.id}}">Edit</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
